table{
    border: 1px solid gray;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td{
    border-bottom: 1px solid rgb(169,179,151);
    padding-left: 50px;
    padding-top: 5px;
}

tfoot, thead{
    background-color: gray;
}

tbody tr:hover{
    background-color: coral;
}

/*odd = Impar*/
/*even = Par*/
tbody tr:nth-child(even){ 
   background-color: beige;
}

tbody tr:nth-child(odd){
    background-color: aqua;
}

th[scope="col"]{
    color: blue;
}